@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.container {
    width: 91%;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-left: auto;
    padding-left: 2%;
    box-shadow: 0px 6px 17.9px 6px #3E3F92CC;
    border-radius: 14px;
    margin-right: auto;
}

.container2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}

.titulo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 30%;
}

.data {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 45%;
}

.titulo h2 {
    font-family: "Poppins", serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #3E3F92;
}

.titulo h1 {
    font-family: "Poppins", serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #000000;
}

.data h2 {
    font-family: "Poppins", serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #3E3F92;
}

.data h1 {
    font-family: "Poppins", serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #000000;
}

.container3 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 20%;
}

.checado {
    font-family: "Passion One", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 50px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.aceito {
    color: #44B41F;
}

.recusado {
    color: #F24E1E;
}

.pendente {
    color: #A9A9A9; /* Cor cinza */
}
